.main-body-div {
    margin-bottom: 50px;
    height: fit-content;
    display: block;
}

.footer {
    position: fixed;
    height: 50px;
    background-color: white;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.singe-review-box {
    margin-bottom: 9%;
}

.singe-review-box:hover {
    cursor: pointer;
    background: rgba(128, 128, 128, 0.101);
}

.fa-circle-user {
    margin-bottom: 2%;
}

.review-content {
    margin: 10%;
    max-width: 700px;
    justify-content: center;
}

.review-stars {
    margin-left: 10%;
    margin-bottom: 10%;
}

.create-review-instruction {
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    width: fit-content;

    margin-left: 10%;

    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
