.spot-container {
    padding: 10% 20%;
    min-width: 500px;
}

.intro-container {
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 8px;
}


.spot-title {
    font-size: 25px;
    margin-left: 10px;
}


.spot-image {
    width: 90%;
    max-width: 800px;
    padding: 5%;
}

hr {
    border: 0.5px solid rgba(128, 128, 128, 0.41)
}

.detail-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 15px;
}

.card-container {
    display: flex;
    font-size: 20px;
    margin-left: 5%;
}

.card-container>div {
    padding: 4px;
}

.spot-description {
    margin-left: 5%;
}

.fa-circle {
    font-size: 4px;
    transform: translateY(-70%);
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;

    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
